header {
	background-color: #0d141c;
	width: 100%;
}

header .container {
	width: 100%;
}

i {
	color: #777c80;
}

.menu {
	margin-left: 10%;
}

.menu ul > li {
	list-style: none;
	float: left;
	text-align: center;
	width: 25%
}

.menu ul > li a {
	text-transform: uppercase;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	letter-spacing: 2.2px;
	text-decoration: none;
	color: #657072;
	font-size: 13px;
	padding-bottom: 25px;
}

.menu ul > li a:hover {
	color: rgba(0, 144, 141, 0.8);
	border-bottom: 5px solid #00908d;
	transition: 0.5s;
}

.menu ul > li a:hover:after {
	content: '';
	width: 0;
	height: 0;
	margin: 0 auto;
	margin-top: 10px;
	display: block;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #00908d;
}

.nav {
	min-height: 100px;
	vertical-align: middle;
	padding-top: 32px;
}

.nav a {
	margin: 0;
	font-family: 'Oswald', sans-serif;
	text-align: left;
	text-transform: uppercase;
	color: white;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 1.4px;
	line-height: 15px;
}

.nav a:hover {
	color: white;
	text-decoration: none;
}

.nav a span {
	font-size: 21px;
}

.right_menu {
	float: right;
	margin-top: 11px;
	text-align: center;
}

.right_menu i {
	width: 50px;	
}

.side_bar {
	position: fixed;
	text-align: center;
	top: 0;
	bottom: 0;
	width: 110px;
	height: 100%;
	border: 2px solid red;
	padding-top: 20px;
}

.side_bar i {
	margin-top: 25px;
}